{% extends 'base.html' %}
{% load static %}
{% block meta_description %}About Major Pantufo Medical Centre, Sao Tome e Principe  {% endblock %}
{% block title %} Contact {% endblock %}

         {% block image %}
		 <div class="col-md-12">
			 <div class="row">
				 <div class="col-md-12 title">
					 <h2><span>999</span> oportunities</h2>
					 <h3>The easiest way to build different sites without many themes</h3>
                              <div class="btn-group">
                                  <button class="btn btn-large btn-calendar"  onclick="document.location='/appointment.html'">Make an appointment</button>
                                  <button type="button" class="btn btn-large"><i class="icon-calendar"></i></button>
                              </div>
				 </div>
			 </div>
		 </div>
      </div>
      <section class="breadcrumbrs">
         <div class="row">
            <div class="col-md-2">
               <h2>About Us</h2></div>
            <div class="col-md-3">Home / About Us </div>
            <div class="col-md-6"></div>
         </div>
      </section> <img src="{% static 'img/dentist34.png '%}" alt="" class="dentist2"> </div>
         {% endblock %}


{% block content %}




   <!--       section   aboutus    -->
   <section class="aboutus">
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <h2>Lorem ipsum.</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi error, in animi soluta doloribus cum.</p>
               <br>
               <p>Nam adipisci ullam repudiandae tenetur laboriosam aspernatur, dicta culpa neque odio dolores, ut, esse aperiam.</p>
            </div>
            <div class="col-md-4">
               <h2>Lorem ipsum.</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi error, in animi soluta doloribus cum.</p>
               <br>
               <p>Nam adipisci ullam repudiandae tenetur laboriosam aspernatur, dicta culpa neque odio dolores, ut, esse aperiam.</p>
            </div>
            <div class="col-md-4">
               <h2>Lorem ipsum.</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi error, in animi soluta doloribus cum.</p>
               <br>
               <p>Nam adipisci ullam repudiandae tenetur laboriosam aspernatur, dicta culpa neque odio dolores, ut, esse aperiam.</p>
            </div>
         </div>
      </div>
   </section>
   <!--       section   separator    -->
   <section class="separator">
      <div class="container">
         <div class="col-md-12"><i class="icon-dot-3"></i></div>
      </div>
   </section>
   <!--       section  welcome     -->
   <section class="welcome">
      <div class="container">
         <h2>Welcome to our Clinic</h2>
         <div class="image6"></div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae magni, dolor, iste doloremque, nemo earum cumque expedita porro, fuga molestiae laboriosam quaerat.</p>
      </div>
   </section>
   <!--       section   factors    -->
   <section class="factors">
      <div class="container">
         <div class="row">
            <div class="col-md-3">
               <div class="icon3"> <i class="icon-user-md"></i> </div>
               <h5>4</h5>
               <h4>Lorem ipsum.</h4> </div>
            <div class="col-md-3">
               <div class="icon3"> <i class="icon-bed"></i> </div>
               <h5>234</h5>
               <h4>Lorem ipsum.</h4> </div>
            <div class="col-md-3">
               <div class="icon3"> <i class="icon-award"></i> </div>
               <h5>24</h5>
               <h4>Lorem ipsum.</h4> </div>
            <div class="col-md-3">
               <div class="icon3"> <i class="icon-calendar-plus-o"></i> </div>
               <h5>334</h5>
               <h4>Lorem ipsum.</h4> </div>
         </div>
      </div>
   </section>
	<!--       section   separator    -->
	<section class="separator">
		<div class="container">
			<div class="col-md-12"><i class="icon-dot-3"></i></div>
		</div>
	</section>
   <!--       section   details    -->
   <section class="details">
      <div class="container">
         <div class="row">
            <div class="col-md-6 detail1"><img src="{% static 'img/Ballicons3/SVG/workplace.svg' %}" alt=""></div>
            <div class="col-md-6 detail1">
               <h2>Lorem ipsum dolor sit amet.</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum vel, voluptas nesciunt facere autem in quia. Quam minima placeat similique, quos temporibus sit. Doloremque consequun praesentium culpa eaque ratione placeat nihil quam deleniti. Soluta quod quidem in quaerat explicabo quas debitis sequi sunt.</p>
               <p>Read more</p>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-6 detail2">
               <h2>Lorem ipsum dolor sit amet.</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum vel, voluptas nesciunt facere autem in quia. Quam minima placeat similique, quos temporibus sit. Doloremque consequun praesentium culpa eaque ratione placeat nihil quam deleniti. Soluta quod quidem in quaerat explicabo quas debitis sequi sunt.</p>
               <p>Read more</p>
            </div>
            <div class="col-md-6 detail2"><img src="{% static 'img/Ballicons3/SVG/recycling.svg' %}" alt=""></div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-6 detail3"><img src="{% static 'img/Ballicons3/SVG/paper_plane.svg' %}" alt=""></div>
            <div class="col-md-6 detail3">
               <h2>Lorem ipsum dolor sit amet.</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum vel, voluptas nesciunt facere autem in quia. Quam minima placeat similique, quos temporibus sit. Doloremque consequun praesentium culpa eaque ratione placeat nihil quam deleniti. Soluta quod quidem in quaerat explicabo quas debitis sequi sunt.</p>
               <p>Read more</p>
            </div>
         </div>
      </div>
   </section>
   {% endblock %}