{% extends 'base.html' %}
{% load static %}
{% block meta_description %} Services availble in Dental  Medical Center in Pantufo  {% endblock %}
{% block title %} Contact {% endblock %}

{% block image %}
		    <div class="col-md-12">
			    <div class="row">
				    <div class="col-md-12 title">
					    <h2><span>321</span> oportunities</h2>
					    <h3>The easiest way to build different sites without many themes</h3>
                              <div class="btn-group">
                                  <button class="btn btn-large btn-calendar"  onclick="document.location='/appointment.html'">Make an appointment</button>
                                  <button type="button" class="btn btn-large"><i class="icon-calendar"></i></button>
                              </div>
				    </div>
			    </div>
		    </div>
         </div>
          <section class="breadcrumbrs">
                 <div class="row">
                  <div class="col-md-2">
                     <h2>Offer</h2></div>
                  <div class="col-md-2">Home / Offer </div>
                  <div class="col-md-8"></div>
               </div>
            </section>
         <img src="{% static 'img/dentist34.png' %}" alt="" class="dentist2">
      </div>
{% endblock %}


{% block content %}



      <!--       section    offer1   -->
<section class="offer1">

<div class="container">
   <div class="row">
      <div class="col-md-4"> <i class="icon-ambulance"></i> </div>
      <div class="col-md-8">
         <h2>Medication</h2>
         <h3>Lorem ipsum dolor sit amet.</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores dolores quisquam consectetur asperiores nisi, provident fugiat eligendi laborum rem odit? Provident, sit. Veritatis cupiditate totam hic laboriosam nostrum distinctio modi, beatae esse minus dicta similique quas laborum temporibus et tempora ipsam! Eligendi, commodi, odio.</p>
         <ul class="list1">
            <li><i class="icon-check"></i>Lorem ipsum dolor sit amet Lorem ipsum..</li>
            <li><i class="icon-check"></i>Lorem ipsum dolor sit amet.</li>
            <li><i class="icon-check"></i>Lorem ipsum dolor sit amet Lorem ipsum dolor..</li>
         </ul>
         <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary"><i class="icon-link-1"></i></button>
            <button type="button" class="btn btn-secondary">Read more</button>
         </div>
      </div>
   </div>
</div>
      </section>


      <!--       section       -->

<section class="offer2">
       <div class="container">
      <div class="row">
         <div class="col-md-4"> <i class="icon-heart"></i> </div>
         <div class="col-md-8">
            <h2>Medication</h2>
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores dolores quisquam consectetur asperiores nisi, provident fugiat eligendi laborum rem odit? Provident, sit. Veritatis cupiditate totam hic laboriosam nostrum distinctio modi, beatae esse minus dicta similique quas laborum temporibus et tempora ipsam! Eligendi, commodi, odio.</p>
            <ul class="list1">
               <li><i class="icon-right-open"></i>Lorem ipsum dolor sit Lorem ipsum..</li>
               <li><i class="icon-right-open"></i>Lorem ipsum dolor sit Lorem ipsum dolor..</li>
               <li><i class="icon-right-open"></i>Lorem ipsum dolor sit.</li>
            </ul>
            <div class="btn-group" role="group" aria-label="Basic example">
               <button type="button" class="btn btn-secondary"><i class="icon-link-1"></i></button>
               <button type="button" class="btn btn-secondary">Read more</button>
            </div>
         </div>
      </div>
   </div>
   </section>


      <!--       section       -->

<section class="offer3"><div class="container">
          <div class="row">
         <div class="col-md-4"> <i class="icon-eye"></i> </div>
         <div class="col-md-8">
            <h2>Medication</h2>
            <h3><span>Lorem ipsum dolor sit amet.</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores dolores quisquam consectetur asperiores nisi, provident fugiat eligendi laborum rem odit? Provident, sit. Veritatis cupiditate totam hic laboriosam nostrum distinctio modi, beatae esse minus dicta similique quas laborum temporibus et tempora ipsam! Eligendi, commodi, odio.</p>
            <ul class="list1">
               <li><i class="icon-star"></i>Lorem ipsum dolor sit amet.</li>
               <li><i class="icon-star"></i>Lorem ipsum dolor sit amet.</li>
               <li><i class="icon-star"></i>Lorem ipsum dolor sit amet.</li>
            </ul>
            <div class="btn-group" role="group" aria-label="Basic example">
               <button type="button" class="btn btn-secondary"><i class="icon-link-1"></i></button>
               <button type="button" class="btn btn-secondary">Read more</button>
            </div>
         </div>
          </div>
       </div>
       </section>


      <!--       section       -->


 <section class="offer4">
      <div class="container">
      <div class="row">
         <div class="col-md-4"> <i class="icon-chat-empty"></i> </div>
         <div class="col-md-8">
            <h2>Medication</h2>
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores dolores quisquam consectetur asperiores nisi, provident fugiat eligendi laborum rem odit? Provident, sit. Veritatis cupiditate totam hic laboriosam nostrum distinctio modi, beatae esse minus dicta similique quas laborum temporibus et tempora ipsam! Eligendi, commodi, odio.</p>
            <div class="btn-group" role="group" aria-label="Basic example">
               <button type="button" class="btn btn-secondary"><i class="icon-link-1"></i></button>
               <button type="button" class="btn btn-secondary">Read more</button>
            </div>
         </div>
      </div>
     </div>
  </section>

{% endblock %}